.card_wrapper{
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    background: #F1E7E7;
}

.stageContainer{
    float: left;
    border: 2px solid #d8dde6;
    margin: 0.05rem;
    border-radius: .25rem;
}
.column-heading{
font-size: 13px;
color: #FFFFFF;
padding: 8px 4px;
margin-bottom: 16px;
background: #55679C;

}
